* {
  padding: 0px;
  margin: 0px;
  text-align: center; }
body {
  background-color: #d2d0d0;
}
h1 {
  padding: 10px;
}
button {
  padding: 5px;
  margin-bottom: 15px;
  font-weight: 600;
  background-color: #fff;
}
.container {
  width: 550px;
  height: 550px;
  border: 2.4px solid #1d1d1d;
  margin: auto;
  display: table;
  background-color: #f3f2f2;
}
.row {
  position: relative;
  display: table-row;
}
.unit {
  display: table-cell;
}
.black {
  background-color:black;
}
